body {
  box-sizing: border-box;
  margin: 0;
  background-image: url("/src/assets/bg.svg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-color: #e5461c;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
